.seccion-principal {
    display: flex; 
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 10px;
    width: 100%;
    min-height: 90vh;
}

.seccion-izquierda {
    flex: 1;
    color: #1f3993;
    display: inline-block;
    margin-right: 100px;
    width: 30%;
    height: 30%;
    margin: 0 auto;
    position:relative;
    top: 100px;
    left: 30px;
    
}

.seccion-izquierda h3 {
    font-size: 20px;
    margin-bottom: 30px;
    color: #1f3993;
    
}

.seccion-izquierda h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
}

.seccion-izquierda p, .seccion-izquierda svg {
    margin-bottom: 15px;
    line-height: 1.6;
    font-size: 16px;
    color: #1f3993;
    align-items: center;
}

.seccion-derecha {
    flex: 1;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: inline-block;
    margin-left: 10px;
    
    width: 50%;
    margin: 0 auto;
    position:relative;
    top: 100px;
    
    left: 30px;
    
}
.seccion-derecha label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;   
}

.seccion-derecha input {
    width: 70%;
    padding: 10px 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.seccion-derecha input:focus {
    outline-color: #1f3993;
}

.seccion-derecha button {
    width: 25%;
    background: #1f3993;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;

}

.seccion-derecha button:hover {
    color:#ffee00;
}
@media (max-width: 768px) {
    .seccion-principal {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .seccion-izquierda, .seccion-derecha {
        width: 100%;
        margin: 0;
        position: static;
        top: 0;
        left: 0;
    }

    .seccion-izquierda {
        margin-bottom: 30px;
        text-align: center;
    }

    .seccion-derecha input {
        width: 100%;
    }

    .seccion-derecha button {
        width: 100%;
    }
    iframe {
        width: 100%;
        height: 400px;
    }
}